
#canvas-wrap {
    width: 786px;
    height: 450px;
    float: left;

    position: relative;

    border: 1px solid #000;
}

#canvas {
    position: absolute;
}
#canvas-bg {
    position: absolute;
}

#result-to-array {
    float: left;
    width: 150px;
    padding: 20px;
}

#test-dummy {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 0;
    left: 0;
    background: #BADA55;
    /*opacity: 0.7;*/
    border-radius: 50%;
}

#bg-customization {
    margin: 10px 0;
}
#bg-customization input {
    margin-right: 20px;
}
#bg-customization input,
#bg-customization label {
    vertical-align: middle;
}